{% extends "master/layout.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" style="margin-left: 13px">My Dictionary</h1>
        </div>
        {% for dictionary in dictionaries %}
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a aria-controls="{{dictionary.id}}" aria-expanded="true" class="d-block card-header py-3"
               data-toggle="collapse"
               href="#collapse{{dictionary.id}}" role="button">
                <div class="row justify-content-between">
                    <div class="col-md-3">
                        <h6 class="m-0 font-weight-bold text-primary">{{ dictionary.word.content }}</h6>
                    </div>
                    <div class="col-md-3">
                        <h6 class="m-0 font-weight-bold text-primary">Word Power: <strong>{{ dictionary.power
                            }}</strong>
                        </h6>
                    </div>
                </div>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse {% if dictionary.id == dictionaries[0].id %}show{% endif %}"
                 id="collapse{{dictionary.id}}" style="">
                <div class="card-body">
                    {% for definition in dictionary.word.definitions %}
                    <div class="d-flex text-muted pt-3">
                        <svg aria-label="Placeholder: 32x32" class="bd-placeholder-img flex-shrink-0 me-2 rounded"
                             focusable="false"
                             height="32" preserveAspectRatio="xMidYMid slice" role="img"
                             style="margin-right: 10px;margin-top: 0px" width="32"
                             xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title>
                            <rect fill="
                                    {% if definition.part_of_speech == 'noun' %} #007bff {% else %} #098d13 {% endif %}
                                " height="100%" width="100%"></rect>
                        </svg>

                        <p class="pb-3 mb-0 small lh-sm border-bottom">
                            <strong class="d-block text-gray-dark">{{ definition.part_of_speech }}</strong>
                            {{ definition.content }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}