{% extends "master/layout.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" style="margin-left: 13px">Practice</h1>
            <button class="btn btn-success" id="newPractice" type="submit">New</button>
        </div>
        <div class="col-md-12 definition">
        </div>
        <div class="row options" style="margin-left: 30px">
        </div>
    </div>
</div>
{% endblock %}